@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Jost:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:wght@400;500;600;700;800;900;1000&family=Nunito+Sans:wght@400;600;700;900&family=Poppins:wght@400;500;700&family=Roboto+Mono:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
}

body {
  /* margin-top: 100px; */
  font-family: 'mulish';
  width: 100%;
  background: #0E0E0E;
  font-family: 'Roboto Mono', monospace;
  color: #fff;
}

@media screen and (min-width: 1024px) {
body {
  margin-top: 50px;
}
}

@media screen and (max-width: 768px) {
  .zoom-out {
      zoom: 70%;
  }
}


.container {
@apply  px-5 m-auto md:px-5 lg:px-10;    
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}
@media (min-width: 768px) {
.container {
  width: 750px;
}
}
@media (min-width: 992px) {
.container {
  width: 970px;
}
}
@media (min-width: 1200px) {
.container {
  width: 1170px;
}
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button,
input[type='number'] {
-webkit-appearance: none;
margin: 0;
-moz-appearance: textfield !important;
}

.headers{
  font-family: 'Inter', sans-serif;

}
